{{ $title := .Title }}
{{ $url := printf "https://www.kausikdas.com%s" .URL }}
{{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}

<div id="sharing">

  <a data-href="https://www.kausikdas.com{{ .URL }}" href="https://www.facebook.com/dialog/share?app_id=1639470196142396&href={{ $url }}&amp;src=sdkpreparse&display=page&title={{ $title }}%20by%20@ikausik" class="facebook-icon" aria-label="share on Facebook" target="_blank">
    <img src="/svg/facebook.svg" alt="Facebook" width="32px" height="32px" srcset=""/>
  </a>

  <a href="https://twitter.com/share?url={{ $url }}&text={{ $title }}%20by%20@kausik47" class="twitter-icon" aria-label="share on Twitter" target="_blank">
    <img src="/svg/twitter.svg" alt="Twitter" width="32px" height="32px" srcset=""/>
  </a>
  
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ $url }}&title={{ $title }}&source=https://www.kausikdas.com" class="linkedin-icon" aria-label="share on Linkedin" target="_blank">
    <img src="/svg/linkedin.svg" alt="Linkedin" width="32px" height="32px" srcset=""/>
  </a>
  
  <a href="https://reddit.com/submit?url={{ $url }}&title={{ $title }}" class="reddit-icon" aria-label="share on Reddit" target="_blank">
    <img src="/svg/reddit.svg" alt="Reddit" width="32px" height="32px" srcset=""/>
  </a>
  
  <a href="https://api.whatsapp.com/send?text={{ $title }}%20{{ $url }}" class="whatsapp-icon" aria-label="share on Whatsapp" target="_blank">
    <img src="/svg/whatsapp.svg" alt="Whatsapp" width="32px" height="32px" srcset=""/>
  </a>
<!--
  <a href="https://www.facebook.com/dialog/send?app_id=1639470196142396&link={{ $url }}&title={{ $title }}" class="messenger-icon" aria-label="share on Messenger" target="_blank">
    <img src="/svg/messenger.svg" alt="Messenger" width="32px" height="32px" srcset=""/>
  </a>
-->
  <a href="https://telegram.me/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.telegram }}{{ . }}{{ end }}" class="telegram-icon" aria-label="share on Telegram" target="_blank">
    <img src="/svg/telegram.svg" alt="Telegram" width="32px" height="32px" srcset=""/>
  </a>

  <a href="mailto:?subject=Check%20out%20{{ $title }}.&body={{ $body }}" class="email-icon" aria-label="share on Email">
    <img src="/svg/email.svg" alt="Telegram" width="32px" height="32px" srcset=""/>
  </a>

</div>
