<div class="popup-container" id="popup">

    <div class="back-disable"></div>

    <div class="popup-form">
        <div class="close-btn" onclick="closeForm()">close</div>
        <h3>Subscribe to our Email <br> Newsletter</h3>

        <form action="https://gmail.us4.list-manage.com/subscribe/post" method="POST" class="subs">
            <input type="hidden" name="u" value="76014b3eaf91e0379eb85727e">
            <input type="hidden" name="id" value="4335a62535">

            <input type="text" name="MERGE1" id="MERGE1" placeholder="First Name"/>
            <br><br>
            <input type="text" name="MERGE2" id="MERGE2" placeholder="Last Name"/>
            <br><br>
            <input type="email" name="MERGE0" id="MERGE0" placeholder="Email Address"/>
            <br><br>
            <button type="submit" name="submit">Yes I'm in</button>
        </form>
    </div>

</div>